/* register.css */

/* Estilizando o container do formulário */
.container {
    border-radius: 10px;
    padding: 20px;
}

/* Estilizando o título do formulário */
h2 {
    color: #4a57bf;

    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilizando os campos de entrada */
.form-control {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

/* Estilizando links */
a {
    color: #4a57bf;
    text-decoration: none;
}

/* Estilizando alertas de sucesso e erro */
.alert {
    margin-bottom: 15px;
}

/* Estilizando o link para já possuir conta */
a[href="{{ route('login') }}"] {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #4a57bf;
    text-decoration: none;
    cursor: pointer;
    padding: 5%;
    margin: 5% auto;
}
#registerButton{
    background-color: #4a57bf;


    margin: 5% 0;
}

